<a href="/restaurants/new">Add a Restaurant</a>
<a href="/users">See all Users</a>
<a href="/restaurants">See all Restaurants</a>

<h1><%=@user.name  %></h1>

<p>Restaurants <%=@user.name%> wants to try:</p>

<ul>
  <% @user.restaurants.each do |restaurant| %>
    <li><a href="/restaurants/<%=restaurant.id%>"><%=restaurant.name%></a></li>
  <% end %>
</ul>

<form action="/users/<%=@user.id%>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete User">
</form>