<h1>Restaurants</h1>
<ul>
<%@businesses.each do |restaurant|%>
<li><a href="<%=restaurant.url%>" ><%=restaurant.name%> - 
<ul>Rating: <%=restaurant.rating%></ul>

<ul>Address: <%=restaurant.location.address1%>, <%=restaurant.location.city%> </ul>

<ul>Phone: <%=restaurant.phone%></ul></a></li>
<br>
<%end%>
</ul>